# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
**/.xcode.env.local
project.xcworkspace/
output/

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore
!release.keystore
!izi.keystore
.kotlin/

# Visual Studio Code
#
.vscode/.react
.history

# node.js
#
node_modules/
npm-debug.log
yarn-error.log
.npm/

# Expo
#
.expo

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Bundle artifact
*.jsbundle

# Ruby / CocoaPods
**/Pods/
/vendor/bundle

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*
# testing
/coverage

# Jest
__tests__/*
cache/*
.jest-cache
.npmrc
.access_token

# Credentials
.secrets
play_store_svc_key.json

.bundle

# Maestro
/e2e/reports
**/debug.log/.maestro/**

# Storybook
storybook-static
build-storybook.log
android/.gradle/8.14.3/checksums/checksums.lock
android/.gradle/8.14.3/fileHashes/fileHashes.lock
android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
android/app/release/app-release.apk
android/app/release/baselineProfiles/0/app-release.dm
android/app/release/baselineProfiles/1/app-release.dm
android/.gradle/8.14.3/checksums/checksums.lock
android/.gradle/8.14.3/checksums/checksums.lock
android/.gradle/8.14.3/fileHashes/fileHashes.lock
android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
android/.DS_Store
.tool-versions
